@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Quản_Lý_Của_Hàng_Bán_Cafe.Models.LoaiSp
@{
    ViewData["Title"] = "AddLoai";
    Layout = "~/Areas/Admin/Views/Shared/_layoutadmin.cshtml";
}
<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <div class="card-title">Thêm Sản Phẩm</div>
            <hr>
            <form method="post" asp-action="AddLoai">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label for="input-6">Mã Loại</label>
                    <input asp-for="MaLoai" type="number" class="form-control form-control-rounded" id="input-6" />
                    <span asp-validation-for="MaLoai" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="input-6">Tên Loại</label>
                    <input asp-for="TenLoai" class="form-control form-control-rounded" id="input-6" />
                    <span asp-validation-for="TenLoai" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-light btn-round px-5"><i class="icon-lock"></i>Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
